.moving-image {
    width: 250px;
    position: relative;
    animation: move 5s linear infinite;
}
@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
.branches {
    list-style-type: none;
    direction: rtl;
    width: 85%;
    padding: 50px;
}
.branches ol {
    direction: rtl;
    margin-bottom: 20px;
    border: solid 2px;
    border-radius: 10px;
    list-style-type: none;
    width: 60%;
    padding: 15px;
}
ol li:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}
h1,
h2,
h3 {
    direction: rtl;
    text-align: center;
}
.map {
    float: right;
    width: 300px; 
    margin-left: 20px; 
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.branch{
   width: 400px; 
   float: left;
   height: 200px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    float: none;
}
  .logo{
    font-size: 80px;
    text-align: left;
    transform: translateY(-20px);
    animation: logo 2s forwards;
    opacity: 0;
    color: black;
    top: 5px;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
  }
  @keyframes logo{
  to{
      opacity: 1;
      transform: translateY(0);
  }
  }
  @media (max-width: 600px) {
    .map{
       width: 150px ;
       height: 200px;
    }
 .branches ol {
    direction: rtl;
    margin-bottom: 20px;
    border: solid 2px black; 
    border-radius: 10px;
    list-style-type: none;
    width: 60%;
    padding: 15px;

   
        border: none;
        min-width: 200px; 
    } 
    .map{
       display: block;
       margin: auto;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .branch{
       width: 150px;
       height: 85px;
    }
}
    